
*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--dark-1: #232327;
	--dark-2: #323238;
	--dark-3: #48484e;

	--download-2: #3a96ff;
	--warning-2: #ffd255;
	--error-1: #792415;
	--error-2: #c33f27;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--dark-1);
}

a {
	color: inherit;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #ffffff;
	font-family: Consolas, monospace;
}

.drop {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
}

.drop h1 {
	color: #eee;
	margin: 0.6em 0;
}

.drop p {
	color: #bbb;
	margin: 0.6em 0;
}

.configs {
	margin: 0.6em auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
}

.config {
	color: #bbb;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.config input {
	margin-right: 10px;
}

.main-errors {
	position: absolute;
	bottom: 0;
	left: 0;
}

.main-error {
	position: relative;
	margin: 10px 10px;
	padding: 10px 15px;
	background-color: var(--error-1);
	border-radius: 8px;
	box-shadow: 1px 1px 4px -2px black;
}

.main-error p:first-child {
	margin-right: 30px;
}

.main-error p {
	color: #ddd;
}

.main-error p:not(:first-child) {
	margin-top: 15px;
}

.main-error ul {
	margin-left: 20px 
}

.error-message {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.error-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px;
	fill: #fff;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.footer {
	flex-grow: 1;
	justify-self: flex-end;
	display: flex;
	align-items: flex-end;
	padding: 30px;
	color: #bbb;
}

.footer > *:not(:last-child) {
	margin-right: 30px;
}

.footer a:hover {
	color: #fff;
}

.packs {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.pack {
	padding: 8px;
	background-color: var(--dark-2);
	border-radius: 10px;
	margin-bottom: 15px;
	box-shadow: 1px 1px 4px -2px #000;
}

.pack-head {
	display: flex;
	align-items: center;
}

.pack-status {
	position: relative;
	padding: 5px;
	border-radius: 8px;
	cursor: pointer;
}

.pack-status:hover {
	background-color: var(--dark-3);
}

.pack-status:hover::after {
	content: attr(data-hover);
	position: absolute;
	bottom: 100%;
	left: 0;
	white-space: nowrap;
	background-color: var(--dark-2);
	box-shadow: 1px 1px 4px 0 #000;
	padding: 8px 16px;
	border-radius: 4px;
}

.pack-status.download::after {
	color: var(--download-2);
}

.pack-status.alert::after {
	color: var(--warning-2);
}

.pack-status.error::after {
	color: var(--error-2);
}

.pack-status > svg {
	display: block;
	width: 24px;
	height: 24px;
	fill: #ccc;
}

.pack-status.download > svg {
	fill: var(--download-2);
}

.pack-status.alert > svg {
	fill: var(--warning-2);
}

.pack-status.error > svg {
	fill: var(--error-2);
}

.pack-status.loading > svg {
	animation: spinning 1500ms linear 0ms infinite forwards;
}

@keyframes spinning {
	from { transform: rotate(0deg);}
	to { transform: rotate(360deg);}
}

.pack-name {
	margin-left: 10px;
	font-size: 18px;
}

.pack-alert {
	margin: 10px 0 10px 20px;
}

.alert-name {
	color: var(--warning-2);
	margin: 5px 0;
}

.pack-alert > *:not(.alert-name) {
	margin-left: 10px;
}

.alert-files {
	color: #ccc;
	font-size: 14px;
	display: flex;
	flex-wrap: wrap;
}

.alert-files p {
	margin-right: 20px;
}
